<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>shout</title>
</head>
<body>
  <h1>Kusoooooo</h1>
  <h1>aiueoooo</h1>
  <ul>
    <% 100.times dp |i| %>
      <li><%= i %>番目</li>
    <% end %>
  </ul>
</body>
</html>
